<div class ="container">
  <div class="row form-part">
    <div class="col-md-6 omura-pic">
      <%= image_tag'/omura.jpeg', class:"omura-img", alt: "omura-image" %>
    </div>
    <div class="col-md-6 post-content">
      <p><%= @micropost.content %></p>
    </div>
  </div>
</div>
