@import "bootstrap-sprockets";
@import "bootstrap";
header{
  text-align: center;
}
header h1{
  font-size: 50px;
}
header p{
  font-size: 200%;
}
hr {
  border-width: 3px ;
  border-color: #F2F2F2 ;
}
.field{
  width: 400px;
}
.omura-img{
  height: 200px;
  width:250px
}
.say {
  margin-bottom: 23px;
}
.form-part{
  text-align: center;
}
.omura-pic{
  text-align: center;
}
.field{
  margin: 0 auto;
}
